---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
const pageTitle = "Home";
---

<style>
	h1 {
		display: none;
	}
	.header {
		block-size: 95vh;
		background-image: linear-gradient(
				to right,
				rgba(255, 255, 255, 0.8),
				rgba(255, 255, 255, 0.2)
			),
			url(../assets/img/origami-boat.jpeg);
		background-size: cover;
		display: grid;
		align-items: center;
		padding: var(--s-3xl);
	}
	.header__container {
		display: grid;
		grid-template-columns: 10rem 30rem 1fr;
		grid-template-rows: repeat(4, min-content);
		gap: var(--s-m);
		color: var(--c-black);
		padding-block-end: var(--s-3xl);
	}
	.header__title {
		grid-column: 1/3;
		grid-row: 2;
		display: flex;
		flex-direction: column;
	}
	.header__title strong {
		font-size: var(--f-3xl);
	}
	.header__description {
		grid-column: 1/3;
		grid-row: 3;
		inline-size: 25rem;
	}
	.header__date {
		grid-column: 1;
		grid-row: 1;
	}
	.header__location {
		grid-column: 2;
		grid-row: 1;
	}
	.button--header {
		grid-row: 4;
		color: var(--c-black);
	}
	.button--header:nth-of-type(1) {
		grid-column: 1;
	}
	.button--header:nth-of-type(2) {
		grid-column: 2;
	}

	.about {
		padding-block: var(--s-xl);
		display: grid;
		grid-template-columns: 1fr;
		position: relative;
	}
	.about__description {
		grid-row: 2;
	}
	.about__img {
		position: absolute;
		justify-self: flex-end;
		inline-size: 30rem;
	}
	.about__img:nth-of-type(1) {
		right: -10rem;
	}
	.about__img:nth-of-type(2) {
		top: 10rem;
	}
</style>

<BaseLayout pageTitle={pageTitle}>
	<h1>Home</h1>
	<section class="header">
		<div class="header__container">
			<h2 class="header__title">
				<strong>FoldCon:</strong> Unveiling Paper's Folded Wonders
			</h2>
			<p class="header__description">
				Discover Tokyo's origami legacy and immerse yourself in
				workshops and masterpieces at FoldCon
			</p>
			<p class="header__date">10th - 12th nov '23</p>
			<p class="header__location">Tokyo, Japan</p>
			<a class="button button--header" href="">Learn More</a>
			<a class="button button--header" href="">Get Tickets</a>
		</div>
	</section>
	<main>
		<section class="about" id="about">
			<h2 class="about__title">About</h2>
			<p class="about__description">
				FoldCon is a global celebration of the ancient art of paper
				folding. This creative conference aims to honor origami's
				heritage, unite enthusiasts worldwide, and foster creativity
				with workshops and exhibitions. Join us to explore, create, and
				connect through the transformative power of folded wonders.
			</p>
			<img
				class="about__img"
				src="https://images.unsplash.com/photo-1558244402-286dd748c593?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
				alt="origami pattern"
			/>
			<img
				class="about__img"
				src="https://images.unsplash.com/photo-1563261438-73168c06ae56?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
				alt="origami animals"
			/>
			<a class="button button--about" href="schedule.astro"
				>explore schedule</a
			>
		</section>
		
	</main>
</BaseLayout>
