---
import BaseLayout from "../layouts/BaseLayout.astro";
import Filter from "../components/Filter.astro";
import TalksList from "../components/TalksList.astro";

import fetchApi from "../lib/strapi";
const talks = await fetchApi({
    endpoint: "talks",
    wrappedByKey: "data",
    query: { populate: ["speaker", "room", "room.venue", "day", "category"] },
});

const categories = await fetchApi({
    endpoint: "categories",
    wrappedByKey: "data",
});

const pageTitle = "Schedule";
---

<style>
    .schedule {
        display: grid;
        grid-template-columns: min-content 1fr;
        place-items: flex-end;
        margin-block-end: var(--s-m);
    }
    .schedule__title {
        padding-inline-start: unset;
        justify-self: flex-start;
    }
</style>

<BaseLayout pageTitle={pageTitle}>
    <section>
        <div class="schedule">
            <h1 class="schedule__title">Schedule</h1>
            <Filter categories={categories} />
        </div>
        <TalksList talks={talks} />
    </section>
</BaseLayout>
