---

---

<style>
    nav {
        height: 5vh;
        display: grid;
        grid-template-columns: 1fr repeat(2, max-content);
        align-items: center;
        gap: var(--s-m);
        padding-inline: var(--s-m);
        justify-content: flex-end;
    }
</style>

<nav>
    <a href="/">Home</a>
    <a href="/index.astro#about">About</a>
    <a href="/schedule">Schedule</a>
</nav>
