---
import TalkCard from "./TalkCard.astro";

import fetchApi from "../lib/strapi";

const days = await fetchApi({
    endpoint: "days",
    wrappedByKey: "data",
});

const { talks } = Astro.props;
---

<style>
    .day__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
        justify-items: center;
        gap: var(--s-m);
    }
    .talk__wrapper[data-category="break"],
    .talk__wrapper[data-category="evening-social"] {
        width: max-content;
    }
    .talk__wrapper[data-category="break"],
    .talk__wrapper[data-category="talk"],
    .talk__wrapper[data-category="evening-social"] {
        width: max-content;
        grid-column: 1/-1;
    }
</style>


{
    days.map((day) => (
        <section>
            <h2 class="day__title">{day.attributes.name}</h2>
            <ul class="day__wrapper">
                {talks.map((talk) => {
                    if (
                        talk.attributes.day?.data?.attributes.name ===
                        day.attributes.name
                    ) {
                        return (
                            <li
                                class="talk__wrapper"
                                data-category={
                                    talk.attributes.category?.data?.attributes
                                        .slug
                                }
                            >
                                {["talk", "workshop", "exhibition"].includes(
                                    talk.attributes.category?.data?.attributes
                                        .slug,
                                ) ? (
                                    <a
                                        href={`${
                                            import.meta.env.BASE_URL
                                        }/talks/${talk.attributes.slug}`}
                                    >
                                        <TalkCard talk={talk} />
                                    </a>
                                ) : (
                                    <TalkCard talk={talk} />
                                )}
                            </li>
                        );
                    }
                })}
            </ul>
        </section>
    ))
}
