---
import DayCard from "../components/DayCard.astro";
import TalkCard from "../components/TalkCard.astro";

import fetchApi from "../lib/strapi";
const talks = await fetchApi({
    endpoint: "talks",
    wrappedByKey: "data",
    query: { populate: ["speaker", "room", "room.venue", "day", "category"] },
});

const days = await fetchApi({
    endpoint: "days",
    wrappedByKey: "data",
});
---

{
    days.map((day) => (
        <section>
            <h2 class="day__title">{day.attributes.name}</h2>
            <ul class="day__wrapper">
                {talks.map((talk) => (
                    <li
                        class="talk__wrapper"
                        data-category={
                            talk.attributes.category?.data.attributes.slug
                        }
                    >
                        {["talk", "workshop", "exhibition"].includes(
                            talk.attributes.category?.data.attributes.slug,
                        ) ? (
                            <a
                                href={`${import.meta.env.BASE_URL}/talks/${
                                    talk.attributes.slug
                                }`}
                            >
                                <TalkCard talk={talk} />
                            </a>
                        ) : (
                            <TalkCard talk={talk} />
                        )}
                    </li>
                ))}
            </ul>
        </section>
    ))
}
