---
import { Image } from "astro:assets";
const { venue } = Astro.props;
---

<style>
    .venue__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        inline-size: 100%;
        block-size: 100%;
    }
    .venue__description {
        padding-block-start: var(--s-xs);
    }
    .img__container {
        grid-row: 1;
        position: relative;
        block-size: min-content;
    }
    .venue__img {
        inline-size: inherit;
    }
    .img__overlay {
        position: absolute;
        top: 0;
        left: 0;
        inline-size: 100%;
        block-size: 100%;
        background-color: rgba(44, 145, 199, 0);
        transition: background-color 0.3s ease;
    }
    .venue:hover .img__overlay {
        background-color: rgba(44, 145, 199, 0.4);
    }
</style>

<div class="venue__container">
    <Image
        src={`${import.meta.env.STRAPI_URL}${
            venue.attributes.image?.data?.attributes.url
        }`}
        alt="venue picture"
        width="750"
        height="500"
        widths={[250, 350, 500, 750]}
        sizes="(max-width: 35em) 70vw, (max-width: 50em) 60vw, 30vw"
    />
    <p class="venue__description">{venue.attributes.description}</p>
    <a class="button" href="">view talks at this location</a>
</div>
