---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TutorialList from "../../components/TutorialList.astro";
const tutorials = await Astro.glob("../../pages/tutorials/*.md");
const pageTitle = "Tutorials";
---

<style>
    section {
        margin-inline: var(--s-3xl);
    }
</style>

<BaseLayout pageTitle={pageTitle}>
    <section>
        <h1>Tutorials</h1>
        <TutorialList tutorials={tutorials} />
    </section>
</BaseLayout>
